body, html {
    margin: 0;
    padding: 0;
}

.full-width-background {
    background: url('fivenightsatfreddys.jpg') center/cover no-repeat; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff; 
}

.content {
    text-align: center;
    padding: 20px;
}
